name: Build and Deploy Dioxus Web

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dioxus CLI
        run: cargo install dioxus-cli --locked

      - name: Prepare docs folder
        run: |
          rm -rf docs

      - name: Build website
        run: dx bundle --out-dir docs

      - name: Finalize docs
        run: |
          mv docs/public/* docs/.
          cp docs/index.html docs/404.html

      - name: Commit and push docs
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Deploy site to GitHub Pages"
          branch: main
